{
	acme_ca https://acme.burble.dn42/v1/dn42/acme/directory
}

(bind_addresses) {
	bind 10.127.101.51
	bind fdec:4f96:8be1:102:24d6:dda2:60d5:158c
}

(tls_disable_tlsalpn) {
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}
}

pbh.xiaoxi654.dn42 {
	import bind_addresses
	tls {
		issuer acme
	}
	reverse_proxy unraid.xiaoxi654.dn42:9898
}

dol.xiaoxi654.dn42 {
	import bind_addresses
	import tls_disable_tlsalpn
	root /srv/dol
	file_server
	encode zstd gzip
}

matrix.xiaoxi654.dn42 {
	import bind_addresses
	import tls_disable_tlsalpn
	reverse_proxy 127.0.0.1:6167
}

explorer.xiaoxi654.dn42 {
	import bind_addresses
	import tls_disable_tlsalpn
	reverse_proxy 127.0.0.1:8080
}

ai.xiaoxi654.dn42 {
	import bind_addresses
	import tls_disable_tlsalpn
	reverse_proxy unraid.xiaoxi654.dn42:3700
}

yggdrasil.dn42 {
	import bind_addresses
	import tls_disable_tlsalpn
	reverse_proxy 127.0.0.1:8001
}

http://yggdrasil.dn42 {
	import bind_addresses
	reverse_proxy 127.0.0.1:8001
}
